<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Donator Name</th>
      <th>Donator Phone Number</th>
      <th>Donator Wool</th>
      <th>Route to Address</th>
    </tr>
  </thead>
  <tbody>

<% @wools.each do |l| %>
<%= render 'listpart', :wools => l %>

<%end %>

</tbody>
</table>
